---
import Layout from '../layouts/Layout.astro';
import shiny from "../assets/shiny.svg";
import logo from "../assets/logo.svg";
import star from "../assets/star.svg";
import bgCat from "../assets/bg-cat.svg";
import baula from "../assets/projects/baula.svg";
import blooming from "../assets/projects/blooming.svg";
import petsInn from "../assets/projects/petsInn.svg";
import syl from "../assets/projects/syl.svg";
import '../styles/home.css';
import ScrollTop from "../components/ScrollTop.astro";
import Socials from "../components/Socials.astro"
import {getLangFromUrl, useTranslations} from "../i18n/utils";
import 'aos/dist/aos.css';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const images = [
    "/img/carousel/image 34.svg",
    "/img/carousel/image 35.svg",
    "/img/carousel/image 37.svg",
    "/img/carousel/image 40.svg",
    "/img/carousel/image 45.svg",
    "/img/carousel/image 34.svg",
    "/img/carousel/image 35.svg",
    "/img/carousel/image 37.svg",
    "/img/carousel/image 40.svg",
    "/img/carousel/image 45.svg",
    "/img/carousel/image 34.svg",
    "/img/carousel/image 35.svg",
    "/img/carousel/image 37.svg",
    "/img/carousel/image 40.svg",
    "/img/carousel/image 45.svg"
]

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
//Hacer Index.es
---

<Layout>
    <main>
        <section id="hero">
            <div class="shiny">
                <figure data-aos="fade-in"s><img src={shiny.src} fetchpriority="high"/></figure>
                <img src={logo.src} alt="Logo" class="logo-hero"/>
            </div>
            <h2>{t('hero.title')}</h2>
            <div class="paragraph">
                <p>{t('hero.aboutMe')}</p>
            </div>
        </section>
        <section id="projects">
            <h1>{t('projects.title')}</h1>
            <p>{t('projects.description')}</p>
            <div class="projects-container">
                <div class="timeline-container">
                    <div class="timeline">
                        <div class="timeline-line">
                            <div class="timeline-fill"></div>
                        </div>
                        <div class="timeline-points">
                            <img src={star.src}  data-aos="fade-in" class="star-left" width="30"/>
                            <img src={star.src}  data-aos="fade-in" class="star-right" width="30"/>
                            <div class="point active" data-year="2025" data-index="0"></div>
                            <div class="point" data-year="2025" data-index="1"></div>
                            <div class="point" data-year="2024" data-index="2"></div>
                            <div class="point" data-year="2023" data-index="3"></div>
                        </div>
                    </div>

                    <!-- Contenido de los proyectos -->
                    <div class="project-content">
                        <!-- Proyecto 1 -->
                        <div class="project active project-info" data-index="0">
                            <div class="project-text">
                                <h6>2025</h6>
                                <h3>SYL TRAVEL</h3>
                                <h6>Next.js, Spring Boot, HTML, Tailwind, Typescript, Strapi ...</h6>
                                <p>{t('projects.project1')}</p>
                                <!--Poner flechita-->
                                <button class="disable">{t('projects.project1.button')}</button>
                            </div>
                            <div class="project-img">
                                <img src={syl.src}>
                            </div>
                        </div>

                        <!-- Proyecto 2 -->
                        <div class="project" data-index="1">
                            <div class="project-text">
                                <h6>2025</h6>
                                <h3>BLOOMING</h3>
                                <h6>Angular, Spring Boot, HTML, Tailwind, API Plant.id, PayPal API, OpenStreetAMap API,
                                    MariaDb</h6>
                                <p>{t('projects.project2')}</p>
                                <!--Poner flechita-->
                                <a target="_blank"
                                   href="https://github.com/universidad-cenfotec-danta-devs/blooming-api">
                                    <button>{t('projects.project2.button')}</button>
                                </a>
                            </div>
                            <div class="project-img">
                                <img src={blooming.src}/>
                            </div>
                        </div>

                        <!-- Proyecto 3 -->
                        <div class="project" data-index="2">
                            <div class="project-text">
                                <h6>2025</h6>
                                <h3>BAULA SHOP</h3>
                                <h6>Astro, HTML, CSS, JavaScript, React, API Alegra</h6>
                                <p>{t('projects.project3')}</p>
                                <!--Poner flechita-->
                                <a target="_blank" href="https://baula-web-astro.onrender.com/">
                                    <button>{t('projects.project3.button')}</button>
                                </a>
                            </div>
                            <div class="project-img">
                                <img src={baula.src}/>
                            </div>
                        </div>

                        <!-- Proyecto 4 -->
                        <div class="project" data-index="3">
                            <div class="project-text">
                                <h6>2023</h6>
                                <h3>PETS INN</h3>
                                <h6> C#, .NET, SQL Server, HTML, CSS, Google Maps API, Azure</h6>
                                <p>{t('projects.project4')}</p>
                                <!--Poner flechita-->
                                <button>{t('projects.project4.button')}</button>
                            </div>
                            <div class="project-img">
                                <img src={petsInn.src}/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="abilities">
            <h1>{t('abilities.title')}</h1>
            <p>{t('abilities.description')}</p>
            <div class="bento-container">
                <div class="bento-item item-1">
                    <h4>{t('abilities.bento1')}</h4>
                    <div class="bento-info">
                        <p>Java</p>
                        <p>JavaScript</p>
                        <p>HTML5</p>
                        <p>CSS3</p>
                        <p>SQL</p>
                        <p>Nosql</p>
                        <p>Python</p>
                    </div>
                </div>
                <div class="bento-item item-2">
                    <h4>{t('abilities.bento2')}</h4>
                    <div class="bento-info">
                        <p>React</p>
                        <p>SQLite</p>
                        <p>jQuery</p>
                        <p>Bootstrap</p>
                    </div>
                </div>
                <div class="bento-item item-3">
                    <h4>{t('abilities.bento3')}</h4>
                    <div class="bento-info">
                        <p>Astro</p>
                        <p>Next.js</p>
                        <p>Spring</p>
                        <p>Selenium</p>
                    </div>
                </div>
                <div class="bento-item item-4">
                    <h4>{t('abilities.bento4')}</h4>
                    <div class="bento-info">
                        <p>MySQL</p>
                        <p>MongoDB</p>
                        <p>MariaDB</p>
                    </div>
                </div>
                <div class="bento-item item-5">
                    <h4>{t('abilities.bento5')}</h4>
                    <div class="bento-info bento-columns">
                        <div>
                            <p>Illustrator</p>
                            <p>Figma</p>
                            <p>Canva</p>
                        </div>
                        <div>
                            <p>AdobeXD</p>
                            <p>Photoshop</p>
                            <p>Lottiefiles</p>
                        </div>
                    </div>
                </div>
                <div class="bento-item item-6">
                    <h4>{t('abilities.bento6')}</h4>
                    <div class="bento-info">
                        <p>JetBrains</p>
                        <p>Visual Studio</p>
                        <p>Visual Studio Code</p>
                    </div>
                </div>
            </div>
            <div class="place-right">
                <h5>{t('abilities.other')}</h5>
                <div class="carousel">
                    <div class="carousel-track">
                        {images.map((url) =>
                                <div class="technologies">
                                    <img src={url}/>
                                </div>
                        )}
                    </div>
                </div>
            </div>
        </section>
        <section id="education">
            <h1>{t('education.title')}</h1>
            <p>{t('education.description')}</p>
            <div class="card-container">
                <div class="card">
                    <div class="left">
                        <h6>2023</h6>
                        <h5>{t('education.technical')}</h5>
                    </div>
                    <div class="right">
                        <h6>Cenfotec</h6>
                        <h5>{t('education.card.title1')}</h5>
                    </div>
                </div>
                <div class="card card-center">
                    <div class="left">
                        <h6>2023</h6>
                        <h5>{t('education.technical')}</h5>
                    </div>
                    <div class="right">
                        <h6>Cenfotec</h6>
                        <h5>{t('education.card.title2')}</h5>
                    </div>
                </div>
                <div class="card">
                    <div class="left">
                        <h6>2021</h6>
                        <h5>{t('education.certificate')}</h5>
                    </div>
                    <div class="right">
                        <h6>UNED</h6>
                        <h5>{t('education.card.title3')}</h5>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact">
            <h1>{t('contact.title')}</h1>
            <div class="contact-container">
                <div id="contact-form">
                    <p>{t('contact.description')}✨</p>
                    <iframe name="dummyframe" id="dummyframe" style="display:none;"></iframe>
                    <form action="https://formsubmit.co/gabyvcc@hotmail.com"
                          id="formulario"
                          method="POST"
                          target="dummyframe"
                          onsubmit="mostrarConfirmacion()">
                        <input type="hidden" name="_subject" value="Mensaje desde tu portafolio web"/>
                        <input type="text" name="_honey" style="display:none">
                        <input type="hidden" name="_captcha" value="false">
                        <input
                                type="email"
                                placeholder=`${t('contact.input')}`
                                name="email"
                                id="email"
                                required
                        />
                        <textarea
                                placeholder=`${t('contact.textarea')}`
                                name="message"
                                id="message"
                                required
                        ></textarea>
                        <button type="submit">{t('contact.button')}</button>
                    </form>
                </div>
                <div id="cat">
                    <img src={bgCat.src}>
                    <div id="lottie-container" style="width: 300px; height: 300px;"></div>
                </div>
            </div>
        </section>
        <ScrollTop/>
        <Socials/>
    </main>
</Layout>

<script>
    import AOS from "aos";

    AOS.init({
        duration: 1000,
        once: false,
    });
    lottie.loadAnimation({
        container: document.getElementById('lottie-container'),
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: '/img/Empty Notifications.json'
    });
    document.addEventListener('DOMContentLoaded', function () {
        const points = document.querySelectorAll('.point');
        const projects = document.querySelectorAll('.project');
        const timelineFill = document.querySelector('.timeline-fill');

        // Función para cambiar de proyecto
        function showProject(index) {
            // Remover clase 'active' de todos los puntos y proyectos
            points.forEach(point => point.classList.remove('active'));
            projects.forEach(project => project.classList.remove('active'));

            // Añadir clase 'active' al punto y proyecto seleccionados
            points[index].classList.add('active');
            projects[index].classList.add('active');

            // Actualizar la línea de progreso
            timelineFill.style.width = `${index * (100 / (points.length - 1))}%`;
        }

        // Evento click para los puntos del timeline
        points.forEach(point => {
            point.addEventListener('click', function () {
                const index = parseInt(this.getAttribute('data-index'));
                showProject(index);
            });
        });

        // Inicializar con el primer proyecto activo
        showProject(0);
    });
</script>

